@charset "UTF-8";
body {
  margin: 0;
  color: #414141;
  position: relative;
  height: 500px;
}

h2 {
  color: #51b3b0;
}

a {
  color: #baa89a;
  text-decoration: none;
}
a:hover {
  color: #f7c987;
}

.flex {
  display: flex;
}

.fade {
  color: #b4e7d8;
}

.tab {
  display: block;
  position: relative;
  width: 700px;
}
.tab section {
  display: block;
}
.tab section:last-of-type label {
  margin-bottom: 0;
}
.tab input[name=tab] {
  left: -9999px;
  position: absolute;
  top: -9999px;
}
.tab input[name=tab]:checked + label {
  background: #b4e7d8;
  color: #51b3b0;
}
.tab input[name=tab]:checked ~ article {
  display: block;
  height: 420px;
}
.tab label {
  background: #51b3b0;
  color: #fff;
  border: 0;
  cursor: pointer;
  display: block;
  font-size: 0.85rem;
  font-weight: bold;
  padding: 8px 16px;
  margin-bottom: 2px;
  position: relative;
  width: 180px;
  box-sizing: border-box;
}
.tab article {
  display: none;
  left: 180px;
  padding: 20px;
  position: absolute;
  top: 0;
  overflow: visible auto;
}
.tab article::after {
  bottom: 0;
  content: "";
  display: block;
  left: -230px;
  position: absolute;
  top: 0;
  width: 220px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul li {
  display: inline-block;
  margin-bottom: 3px;
}
ul li::after {
  content: "|";
  margin-left: 2px;
  margin-right: 2px;
  color: #f7c987;
}
ul li:last-child::after {
  content: "";
  margin: 0;
}

.symbol-container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.symbol-container > *:nth-child(12n-3).multiple .options, .symbol-container > *:nth-child(12n-2).multiple .options, .symbol-container > *:nth-child(12n-1).multiple .options, .symbol-container > *:nth-child(12n).multiple .options {
  right: 0;
}

span,
.preview {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3px;
  margin-bottom: 3px;
  border: solid 2px #f5f5f5;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
span:hover,
.preview:hover {
  border-color: #51b3b0;
}

.multiple {
  position: relative;
}
.multiple .preview {
  border-color: transparent;
  position: relative;
}
.multiple .preview::after {
  content: "◢";
  color: #f7c987;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 5px;
}
.multiple .options {
  display: none;
  position: absolute;
  background: #b4e7d8;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding-left: 3px;
  padding-top: 3px;
  box-sizing: content-box;
  z-index: 99999;
}
.multiple .options span {
  background: #fff;
}
.multiple:hover .preview {
  opacity: 0.3;
}
.multiple:hover .options {
  display: flex;
}

table th {
  background: #51b3b0;
  color: #fff;
  padding: 10px;
  text-align: center;
  border-right: 0;
}
table td {
  text-align: center;
  border-right: 0;
  border-bottom: 1px dotted #b4e7d8;
  padding: 3px;
}
table td span {
  margin: 3px auto;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #f5f5f5;
  width: 100%;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
