.symbol-container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  > * {
    &:nth-child(13n-3),
    &:nth-child(13n-2),
    &:nth-child(13n-1),
    &:nth-child(13n) {
      &.multiple {
        .options {
          right: 0;
        }
      }
    }
  }
}

span,
.preview {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3px;
  margin-bottom: 3px;
  border: solid 2px $light-color;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  &:hover {
    border-color: $primary-color;
  }
  &.small {
    font-size: 0.8rem;
  }
}