// theme color
$primary-color: #51b3b0;
$primary-color-alt: #b4e7d8;
$supporting-color: #f5c3d0;
$neutral-dark: #baa89a;
$neutral-light: #f7c987;

$title-color: $primary-color;
$text-color: #414141;
$link-color: $neutral-dark;
$hover-color: $neutral-light;
$light-color: #f5f5f5;
$fade-color: $primary-color-alt;

$side-menu-width: 180px;
$body-height: 500px;